<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <!-- Logo y nombre de la app -->
        <a class="navbar-brand text-white fw-bold" href="/estudiante">
            <i class="bi bi-mortarboard-fill"></i> App Evaluacion
        </a>

        <!-- Botón de colapsado en dispositivos móviles -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces de navegación y menú desplegable de Cuenta -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-white" href="/estudiante/evaluaciones">
                    <i class="bi bi-clipboard"></i> Evaluaciones
                </a>

                <!-- Menú desplegable de Cuenta -->
                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle text-white"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="bi bi-person-circle"></i> Cuenta
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-end shadow-lg"
                        aria-labelledby="navbarDropdown"
                    >
                        <li>
                            <a class="dropdown-item" href="/estudiante/perfil"
                                ><i class="bi bi-person"></i> Perfil</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/estudiante/grupos"
                                ><i class="bi bi-clipboard-check"></i> Grupos</a
                            >
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a
                                class="dropdown-item text-danger"
                                href="/estudiante/logout"
                                ><i class="bi bi-box-arrow-right"></i> Cerrar
                                sesión</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
