<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <!-- Logo y nombre de la app -->
        <a class="navbar-brand text-white fw-bold" href="/">
            <i class="bi bi-mortarboard-fill"></i> App Evaluacion
        </a>

        <!-- Botón de colapsado en dispositivos móviles -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces de navegación y botón de inicio de sesión -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="btn btn-primary" href="#">
                    <i class="bi bi-question-diamond-fill"></i> Ayuda
                </a>
                <a class="btn btn-primary" href="/about">
                    <i class="bi bi-info-circle"></i> Sobre Nosotros
                </a>

                <!-- Botón de Iniciar Sesión con Dropdown -->
                <a href="/login" class="btn btn-primary">
                    <i class="bi bi-people"></i>
                    Iniciar Sesión
                </a>
            </div>
        </div>
    </div>
</nav>
